*.tfvars
*.tfstate*
.terraform/
**/inspec.lock
*.gem
Gemfile.lock
terraform.tfstate.d/
.idea/
*.iml
config-map-aws-auth*.yaml
kubeconfig_*
*.swp

# To allow validate pass locally
providers_test_az.tf

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

#  Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc